// source: https://gist.github.com/RohitBittu/29063fefc1e55dd8704e9923febd7849

$vanilla: #f0e4d0;
$chocolate: #553c13;
$size: 0.55;

@mixin foodColoring($color) {
  background-color: $color;
  box-shadow: 0 2px 0px lighten($color, 5%), 0 4px 0px darken($color, 8.2%), 0 6px 0px darken($color, 8.4%),
    0 8px 0px darken($color, 8.6%), 0 10px 0px darken($color, 8.8%), 0 12px 0px darken($color, 9%),
    0 14px 0px darken($color, 9.2%), 0 16px 0px darken($color, 9.4%), 0 18px 0px darken($color, 9.6%),
    0 20px 0px darken($color, 9.8%), 0 22px 0px darken($color, 10%), 0 24px 0px darken($color, 10.2%),
    0 26px 0px darken($color, 10.4%), 0 28px 0px darken($color, 10.6%), 0 30px 0px darken($color, 10.8%);
}

.cake {
  position: absolute;
  width: 250px * $size;
  height: 200px * $size;
  top: 45%;
  left: 50%;
  margin-top: -70px * $size;
  margin-left: -125px * $size;
}

.plate {
  width: 270px * $size;
  height: 110px * $size;
  position: absolute;
  bottom: -20px;
  left: -5px;
  background-color: #ccc;
  border-radius: 50%;
  box-shadow: 0 2px 0 darken(#ccc, 10%), 0 4px 0 darken(#ccc, 10%), 0 5px 40px rgba(black, 0.5);
}

.cake > * {
  position: absolute;
}

.layer {
  position: absolute;
  display: block;
  width: 250px * $size;
  height: 100px * $size;
  border-radius: 50%;
  @include foodColoring($chocolate);
}

.layer-top {
  top: 0px;
}
.layer-middle {
  top: 33px * $size;
}
.layer-bottom {
  top: 66px * $size;
}

.icing {
  top: 2px * $size;
  left: 5px * $size;
  background-color: $vanilla;
  width: 240px * $size;
  height: 90px * $size;
  border-radius: 50%;
  &:before {
    content: "";
    position: absolute;
    top: 4px;
    right: 5px;
    bottom: 6px;
    left: 5px;
    background-color: lighten($vanilla, 3%);
    box-shadow: 0 0 4px lighten($vanilla, 5%), 0 0 4px lighten($vanilla, 5%), 0 0 4px lighten($vanilla, 5%);
    border-radius: 50%;
  }
}

.drip {
  display: block;
  width: 50px * $size;
  height: 60px * $size;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: $vanilla;
}

.drip1 {
  top: 55px * $size;
  left: 5px * $size;
  transform: skewY(15deg);
  height: 48px * $size;
  width: 40px * $size;
}

.drip2 {
  top: 75px * $size;
  left: 181px * $size;
  transform: skewY(-15deg);
}

.drip3 {
  top: 84px * $size;
  left: 90px * $size;
  width: 80px * $size;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.candle {
  background-color: #7b020b;
  width: 16px * $size;
  height: 50px * $size;
  border-radius: 8px / 4px;
  top: -20px * $size;
  left: 50%;
  margin-left: -8px * $size;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px * $size;
    height: 8px * $size;
    border-radius: 50%;
    background-color: lighten(#7b020b, 10%);
  }
}

.flame {
  position: absolute;
  background-color: orange;
  width: 15px * $size;
  height: 35px * $size;
  border-radius: 10px 10px 10px 10px / 25px 25px 10px 10px;
  top: -34px * $size;
  left: 50%;
  margin-left: -7.5px * $size;
  box-shadow: 0 0 10px rgba(orange, 0.5), 0 0 20px rgba(orange, 0.5), 0 0 60px rgba(orange, 0.5),
    0 0 80px rgba(orange, 0.5);
  transform-origin: 50% 90%;
  animation: flicker 1s ease-in-out alternate infinite;
}

@keyframes flicker {
  0% {
    transform: skewX(5deg);
    box-shadow: 0 0 10px rgba(orange, 0.2), 0 0 20px rgba(orange, 0.2), 0 0 60px rgba(orange, 0.2),
      0 0 80px rgba(orange, 0.2);
  }
  25% {
    transform: skewX(-5deg);
    box-shadow: 0 0 10px rgba(orange, 0.5), 0 0 20px rgba(orange, 0.5), 0 0 60px rgba(orange, 0.5),
      0 0 80px rgba(orange, 0.5);
  }
  50% {
    transform: skewX(10deg);
    box-shadow: 0 0 10px rgba(orange, 0.3), 0 0 20px rgba(orange, 0.3), 0 0 60px rgba(orange, 0.3),
      0 0 80px rgba(orange, 0.3);
  }
  75% {
    transform: skewX(-10deg);
    box-shadow: 0 0 10px rgba(orange, 0.4), 0 0 20px rgba(orange, 0.4), 0 0 60px rgba(orange, 0.4),
      0 0 80px rgba(orange, 0.4);
  }
  100% {
    transform: skewX(5deg);
    box-shadow: 0 0 10px rgba(orange, 0.5), 0 0 20px rgba(orange, 0.5), 0 0 60px rgba(orange, 0.5),
      0 0 80px rgba(orange, 0.5);
  }
}
