// source 
@import url(https://fonts.googleapis.com/css?family=Sacramento);

$border-color: #73BFB5;

img {
  max-width: 100%;
  max-height: 100%;
}

html, body {
  overflow: hidden;
  background-color: #bf737d;
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  width: 400px;
  height: 525px;
  border: 10px solid $border-color;
  margin: 50px auto 0 auto;
  box-shadow: inset 10px 0px 15px 0px rgba(0,0,0,0.1);
  background-color: rgb(230, 240, 230);
}

.card .text-container {
  width: 80%;
  height: 80%;
  margin: auto;
}

.strikethrough {
  text-decoration: line-through;
}

.card .text-container #head {
  font-family: 'Sacramento', sans-serif;
  font-size: 2.2em;
  margin: 60px auto 60px auto;
}

.card p {
  font-size: 1.6em;
  line-height: 1.6;
  font-family: 'Sacramento';
  color: #331717;
  font-style: italic;
  text-align: center;
  margin: 30px auto 0px auto;
}

.card .front { 
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -10px 0px 0px -10px;
  border: 10px solid $border-color;
  backface-visibility: hidden;
  background-color: rgb(115, 163, 191);
  /* background-image: url($cover-image); */
  background-size: contain;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
}

.card:hover .front {
  transform: perspective(800px) rotateY(-170deg);
  background-color: rgb(115-50, 163-50, 191-50);
}

.card:hover .back {
  transform: perspective(800px) rotateY(-170deg);
  box-shadow: 7px 0px 5px 0px rgba(0,0,0,0.3), inset 2px 0px 15px 0px rgba(0,0,0,0.1);
  background-color: rgb(210, 220, 210);
}

.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid $border-color;
  margin: -10px 0px 0px -10px;
  backface-visibility: visible;
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,.5));
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
  background-color: rgb(230, 240, 230);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
}

.cover-shape-large {
  position: absolute;
  width: 65%;
  height: 48%;
  top: 25%;
  left: 18%;
  /*transform: rotateZ(45deg);*/
}

.cover-shape-large .shape-block, .cover-shape-large .shape-diamond {
  background-color: #73bf8f;
}

.cover-shape-small {
  position: absolute;
  width: 50%;
  height: 36%;
  top: 30%;
  left: 25%;
}

.shape-block {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}

#shape-image {
  background-image: url('http://freedesignfile.com/upload/2013/02/Birthday-cake-vector-4.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.shape-diamond {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  transform: rotateZ(45deg);
}